{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter %}
        {{obj.id}} # {{ obj.lang }} - {{obj.content}}<br />
    {% endfor %}
{% endblock %}
